*{
    padding: 0;
    margin: 0;
}
.alert_btn{
    width: 100px;
    padding: 10px;
    background-color: antiquewhite;
    border: 2px solid rgb(235, 208, 172);
    border-radius: 8px;
}
.top{
    z-index: 100;
    position:fixed;
    width: 100%;
    padding: 10px;
    top:0px;
    left:5px;
    background-color: white;
}
.bd{
    position:relative;
    top: 50px;
    left: 2%;
}
.top_box{
    background-color: white;
    outline: 5px solid rgb(239, 235, 194);
    outline-offset: -5px;
    display:inline;
    width: 100px;
    border: 20px solid rgb(255, 255, 255);
}